<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link type="text/css" href="static/styles.css" rel="stylesheet" />
    <!-- <link rel="stylesheet" type="text/css"
    href="//cdn.datatables.net/1.10.7/css/jquery.dataTables.min.css"> -->
    <link href="static/dist/sp-bootstrap.min.css" rel="stylesheet" media="screen">
    <link rel="stylesheet" type="text/css"
    href="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
    <link rel="shortcut icon" href="static/images/favicon.png">
    <title>Smart Shuffle</title>
      <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
      <script type=text/javascript>
           $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
      </script>

</head>
  <body >
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" id='test' href="https://www.spotify.com">
            <span class="navbar-logo">Spotify</span>
            <span class="navbar-title">Smart Shuffle</span>
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <a href="http://www.spotify.com" class="btn btn-primary navbar-btn navbar-right">Get
          Spotify</a>
        </div><!--/.navbar-collapse -->
      </div>
    </div>

    <!-- Main jumbotron for a primary marketing message or call to action -->
      <div id='intro'>
      <div id='main' class="top worker jumbotron jumbotron-hero container-fluid">
          <div  id="jumbo-dialog">
            <h1 id='ttitle' >Smart Shuffle</h1>
            <p>  Login with your Spotify account to get started</p>

            <p><a class="btn btn-primary btn-lg" id='go' role="button">Login with Spotify</a></p>
          </div>
      </div>

        <div class="container worker ">
        </div>

      <div class="top jumbotron container-fluid">
          <p id='info' class="text-center"></p>

          <div class="worker" id='playlists'>
                <h2 class="prompt" > Pick a playlist </h2>

                <img class='spinner' width='100' alt='spinner' src='static/images/ajaxSpinner.gif'>

                <div class="panel panel-default">
                    <table id='playlist-list' class="table">
                        <thead>
                            <tr>
                            <th>Name</th>
                            <th>Track Count</th>
                            <th>Owner</th>
                            </tr>
                        </thead>
                        <tbody> </tbody>
                    </table>
                </div>
          </div>

    <div class="worker" id='single-playlist'>
                <h2> <a id='playlist-title'></a> </h2>
                <img class='spinner2' width='100' alt='spinner' src='static/images/ajaxSpinner.gif'>
                <div id='single-playlist-contents'>
                    <div class="panel panel-default">
                        <div class="panel-body">
                            <a class="btn btn-primary btn-sm pull-left" id='pick' role="button">back</a>
                            <div class="btn-group playback" role="group" aria-label="Basic example">
                              <button type="button" class="btn btn-secondary" id="play-pause">Play/Pause</button>
                              <button type="button" class="btn btn-secondary" id="skip">Skip</button>
                            </div>
                        </div>
                    </div>
                </div>
          </div>
      </div>
      </div>

    <div id="footer">
      <div class="container text-center">
            <p class="text-muted">
                Powered by <a href="http://spotify.com">Spotify</a>
                Created by <a href="https://github.com/danielchen115">@danielchen115</a>
            </p>
      </div>
    </div>
    <script src="static/lib/jquery-1.11.1.min.js"></script>
    <script type="text/javascript" charset="utf-8"
        src="//cdn.datatables.net/1.10.7/js/jquery.dataTables.min.js"></script>
    <script type="text/javascript" charset="utf-8"
        src="//cdn.datatables.net/plug-ins/1.10.7/integration/bootstrap/3/dataTables.bootstrap.min.js"></script>
    <!-- Deprecated: Replacement is the datetime plug-in (http://datatables.net/blog/2014-12-18) -->
    <script type="text/javascript" charset="utf-8"
        src="//cdn.datatables.net/plug-ins/1.10.7/sorting/time.js"></script>
    <script src="static/lib/bootstrap.min.js"></script>
    <script src="static/lib/underscore-min.js"></script>
    <script type="text/javascript" charset="utf-8"
        src="//cdnjs.cloudflare.com/ajax/libs/q.js/1.4.1/q.min.js"></script>
    <script src="static/config.js"></script>
    <script src="static/main.js"></script>
</body>
</html>
